html, body, .masthead, .greedy-nav, .page__footer {
  background-color: $catppuccin-base !important;
}

.greedy-nav {
  a {
    color: $text-color !important;
  }
}

.page__content, .archive {
  a {
    text-decoration: none !important;
    color: $catppuccin-sapphire !important;
    transition: all 0.3s ease; /* 平滑过渡效果 */
  
    &:hover {
      text-decoration: underline !important;
      color: $catppuccin-lavender !important;      /* 悬浮时变深一点的颜色 */
    }
  }
}

.masthead__menu {
  display: flex;
  align-items: center;
  position: relative;

  .greedy-nav {
    flex-grow: 1;
    padding-right: 3rem;

    button {
      right: 3rem;
    }

    .hidden-links {
      right: 3rem;
      background: $catppuccin-base !important;
      border-color: $catppuccin-base !important;

      &:before, &:after {
        color: $catppuccin-base !important;
        border-color: $catppuccin-base transparent !important;
      }

      li {
        border-bottom: none;
      }

      a::hover {
          background: $catppuccin-mantle !important;
      }
    }
  }

  button {
    background-color: $catppuccin-mantle !important;
  }
  .navicon, .navicon::before, .navicon::after {
    background: $catppuccin-text;
  }
  .close .navicon {
    background: $catppuccin-mantle;
  }

  #theme-toggle {
    z-index: 20;

    color: $catppuccin-text;
    background-color: $catppuccin-base;

    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    align-items: center;
    justify-content: center;
    
    border: 1px solid $catppuccin-text;
    border-radius: 50%;

    transition: all 0.3s ease;
    &:hover {
      background-color: $catppuccin-mantle;
      border-color: $catppuccin-sapphire;
      color: $catppuccin-sapphire;
    }
  }
}

.btn--inverse {
  color: $catppuccin-text !important;
  background-color: $catppuccin-base !important;
  border-color: mix($catppuccin-text, $catppuccin-base, 50%) !important;

  &:hover {
    color: $catppuccin-base !important;
    background-color: $catppuccin-text !important;
  }
}