$catppuccin-text: #4c4f69;
$catppuccin-base: #eff1f5;
$catppuccin-mantle: #e6e9ef;
$catppuccin-sapphire: #209fb5;
$catppuccin-teal: #179299;
$catppuccin-lavender: #7287fd;
$catppuccin-sky: #7287fd;


$text-color: $catppuccin-text;